.o-menu-item {
  /*padding: 0.03rem; /* Avoid show scrollbar when scaling menu-item */
}

.o-menu-item > .o-menu-item__link {
  /* Show icon up and text down */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; /* This avoid show text overflow like expected */

  /* Remove link defaults */
  color: var(--o-menu-item-color);
  text-decoration: none;

  &:hover {
    color: var(--o-menu-item-hover-color);
    /*transform: scale(1.02); /* Scale size animation */

    /* Set svg icon to bold */
    stroke-width: 1%;
    stroke: var(--o-menu-item-active-color);
  }

  & span {
    text-align: center; /* Alternative center instead flex align-items: center to work text overflow like expected */
  }

  .o-menu-item__icon {
    width: var(--o-menu-item-icon-sz);
    height: var(--o-menu-item-icon-sz);
  }

  .o-menu-item__text {
    /* Prevent break work in two lines when overflow */
    white-space: nowrap;
    overflow: auto;
  }
}

.o-menu-item--active > .o-menu-item__link {
  color: var(--o-menu-item-active-color);
  font-weight: bold;

  /* Set svg icon to bold */
  stroke-width: 1%;
  stroke: var(--o-menu-item-active-color);
}

.o-menu-item--sm > .o-menu-item__link {
  .menu-item__icon {
    width: var(--o-menu-item-icon-sz);
    height: var(--o-menu-item-icon-sz);
  }

  .o-menu-item__text {
    font-size: var(--o-menu-item-text-sz);
  }
}

.o-menu-item--inline > .o-menu-item__link {
  /* Show icon left and text right */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.o-menu-item--box > .o-menu-item__link {
  padding: 0.5rem;
  background-color: white;
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: var(--primary-color) 0px 0px 3px 0.5px;
  }
}
