/* Default */
.o-menu-item {
  /* Show icon up and text down */
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: unset;
  height: 100%;

  /* Remove link defaults */
  color: var(--o-menu-item-color);
  text-decoration: none;

  & span {
    text-align: center;
  }

  .o-menu-item__icon {
    width: var(--o-menu-item-icon-sz);
    height: var(--o-menu-item-icon-sz);
  }

  .o-menu-item__text {
    /* Prevent break work in two lines when overflow */
    white-space: nowrap;
    overflow: auto;
  }

  /* Hover, Active */
  &:hover,
  &[class~="o-menu-item--active"] {
    color: var(--o-menu-item-active-color);
  }
}

/* Small */
.o-menu-item--sm > {
  .menu-item__icon {
    width: var(--o-menu-item-icon-sz);
    height: var(--o-menu-item-icon-sz);
  }

  .o-menu-item__text {
    font-size: var(--o-menu-item-text-sz);
  }
}

/* Inline */
.o-menu-item--inline {
  /* Show icon left and text right */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & span {
    display: contents; /* Center icon horizontally */
  }
}

/* Box */
.o-menu-item--box {
  padding: 0.5rem;
  background-color: var(--o-menu-item-box-bg-color);
  box-shadow: 1px 1px 3px 0.5px rgba(0, 0, 0, 0.2);

  /* Hover, Active */
  &:hover,
  &[class~="o-menu-item--active"] {
    box-shadow: var(--o-menu-item-active-color) 0px 0px 3px 0.5px;
  }
}
