.menu-bar {
  /* Desktop */
  background-color: var(--menu-bar-bg-color);
  box-shadow: 0 0 5px 1px lightgray;
  border-bottom: 6px solid var(--menu-bar-bd-color);
  border-radius: 0 0 7px 7px;
  height: 60px;

  /* Mobile */
  @media (width <= 768px) {
      /* Show in bottom */
      bottom: 0;
      position: fixed;
      width: 100%;
  }

  /* Display contents inline */
  display: flex;

  /* Show both contents in left and right */
  justify-content: space-between;

  .menu-bar__shortcuts {
    background-color: red;
  }

  .menu-bar__menu {
    background-color: green;
  }
}
