.u-prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.u-start {
  text-align: left;
  justify-content: start;
}

.u-end {
  text-align: right;
  justify-content: end;
}
