:root {
  --primary-color: #1f8ec2;
  --secondary-color: #186E96;

  --bg-color: #FFFFFF;
  --fg-color:#616161;

  --o-menu-item-color: var(--fg-color);
  --o-menu-item-active-color: var(--primary-color);
  --o-menu-item-box-bg-color: var(--bg-color);
  --o-menu-item-active-box-shadow: var(--o-menu-item-active-color) 0px 0px 3px 0.5px;

  --c-menu-bar-bg-color: var(--bg-color);
  --c-menu-bar-bd-color: var(--primary-color);
  --c-menu-bar-shadow-color: lightgray;

  --c-collapsible-menu-shadow-color: lightgray;
  --c-collapsible-menu-bg-color: rgba(248, 248, 247, 80%);

  --c-main-menu-items-group-title-color: #344767;

  --c-theme-switcher-light-mode-btn-color: goldenrod;
  --c-theme-switcher-dark-mode-btn-color: #8c9eaa;
  --c-theme-switcher-uncheck-slide-color: var(--c-theme-switcher-dark-mode-btn-color);
  --c-theme-switcher-check-slide-color: var(--primary-color);
  --c-theme-switcher-uncheck-switch-color: white;
  --c-theme-switcher-check-switch-color: var(--c-theme-switcher-uncheck-switch-color);

  --c-main-content-header-shadow-color: lightgray;
  --c-main-content-header-box-shadow: 0 0 0.3rem 0.05rem var(--c-main-content-header-shadow-color);
  --c-main-content-body-bd-color: lightgray;

  --e-btn-primary-bg-color: var(--primary-color);
  --e-btn-primary-bd-color: var(--primary-color);
  --e-btn-primary-color: white;
}

:root[data-theme="dark"] {
  --primary-color: #05b0ff;
  --bg-color: #56595a;
  --fg-color: #f1f2f4;

  --o-menu-item-color: var(--fg-color);
  --o-menu-item-box-bg-color: var(--bg-color);
  --o-menu-item-active-box-shadow: var(--o-menu-item-active-color) 0px 0px 2px 2px;

  --c-collapsible-menu-shadow-color: #38444c;
  --c-collapsible-menu-bg-color: rgba(30, 40, 50, 80%);

  --c-menu-bar-bg-color: var(--bg-color);
  --c-menu-bar-shadow-color: #232c31;

  --c-main-menu-items-group-title-color: var(--fg-color);

  --c-main-content-header-shadow-color: #232c31;
  --c-main-content-header-box-shadow: 0 0 0.2rem 0.03rem var(--c-main-content-header-shadow-color);
  --c-main-content-body-bd-color: #232c31;
}
