:root {
  --primary-color: #1f8ec2;
  --secondary-color: #186E96;
}

.o-menu-item {
  --o-menu-item-color: #616161;
  --o-menu-item-hover-color: var(--primary-color);
  --o-menu-item-active-color: var(--primary-color);
}

.c-menu-bar {
  --c-menu-bar-bg-color: #FFFFFF;
  --c-menu-bar-bd-color: var(--primary-color);
}

.c-collapsible-menu {
  --c-collapsible-menu-bg-color: rgba(76, 93, 101, 7%);
}

.c-main-menu {
  --c-main-menu-items-group-title-color: #344767;
}
