:root {
  --mobile-sz: 48rem; /* This can't read in media queries */
}

.o-menu-item {
  --o-menu-item-icon-sm: 0.938rem;
  --o-menu-item-icon-md: 1.5rem;

  --o-menu-item-text-sm: var(--menu-item-icon-sm);
  --o-menu-item-text-md: 1rem;
}

.c-menu-bar {
  --c-menu-bar-items-gap: 1.25rem;
}
