:root {
  --mobile-sz: 48rem; /* This can't read in media queries */
}

.o-menu-item {
  --o-menu-item-icon-sz: 1.5rem;
  --o-menu-item-text-sz: 1rem;
}

.o-menu-item--sm {
  --o-menu-item-icon-sz: 0.938rem;
  --o-menu-item-text-sz: var(--o-menu-item-icon-sz);
}

.c-menu-bar {
  --c-menu-bar-items-gap-sz: 1.25rem;
}

.c-breadcrumb {
  --c-breadcrumb-item-icon-sz: 1rem;
  --c-breadcrumb-item-text-sz: 0.9rem;
}

.c-main-content-header {
  --c-main-content-header-title-sz: 0.7rem;
}

.e-btn {
  --e-btn-text-sz: 0.9rem;
}

.e-link {
  --e-link-text-sz: 0.9rem;
}
