.collapsible-menu {
  .collapsible-menu__checkbox {
    display: none;

    /* Show nav when click in checkbox label */
    &:checked ~ nav {
      visibility: visible;
      transition: all 3s ease-out;
      max-height: 100%;

      /* Mobile */
      @media (width <= 48rem) {
        /* Align to top of parent element [https://codepen.io/ngaller/pen/GpzZXN] */
        bottom: 100%;
        transition: all 0.4s ease-out;
      }
    }
  }

  & nav {
    background-color: var(--collapsible-menu-bg-color);
    backdrop-filter: blur(15px);

    padding: 1rem;
    visibility: hidden;
    position: absolute;
    max-height: 0;
    overflow: hidden; /* For unfold efect */

    margin-top: 0.7rem;

    /* Mobile */
    @media (width <= 48rem) {
      margin-top: 0;
      width: 100vw;
    }
  }

  /* Unfolded menu position */
  /* Default position */
  & nav {
    left: initial;
    right: initial;

    /* Mobile */
    @media (width <= 48rem) {
      left: 0;
    }
  }

  /* Left position */
  &[class~="collapsible-menu--left"] {
    & nav {
      left: 0;
    }
  }

  /* Right position */
  &[class~="collapsible-menu--right"] {
    & nav {
      right: 0;
    }
  }
}
