.menu-bar {
  background-color: var(--menu-bar-bg-color);
  box-shadow: 0 0 0.3rem 0.05rem lightgray;
  border-bottom: 0.3rem solid var(--menu-bar-bd-color);
  border-radius: 0 0 0.4rem 0.4rem;

  /* Mobile */
  @media (width <= 48rem) {
      /* Show in bottom */
      bottom: 0;
      position: fixed;
      width: 100%;
  }
}

.menu-bar > ul {
  display: flex; /* Display contents inline */
  justify-content: space-between;
  align-items: center; /* Vertical align to center */
  padding: 0.2rem 0.9rem;
  gap: var(--menu-bar-items-gap);

  & > li {
    list-style: none;
  }

  .menu-bar__shortcuts > ul {
    display: flex;
    justify-content: space-between;
    gap: var(--menu-bar-items-gap);

    & > li {
      list-style: none;
    }
  }
}

/* Scrollbar */
.menu-bar > ul {
  --menu-item-scaling-padding: 0.05rem;

  & > li {
    padding: var(--menu-item-scaling-padding); /* Avoid show scrollbar when scaling menu-item */
  }

  .menu-bar__shortcuts {
    overflow: auto;
  }
}
