.menu-item {
  /* Show icon up and text down */
  display: flex;
  flex-direction: column;
  align-items: center;

  /* Remove link defaults */
  color: var(--menu-item-color);
  text-decoration: none;
  letter-spacing: none;

  &:hover,
  &[class~="menu-item--active"] {
    color: var(--menu-item-active-color);
    font-weight: bold;

    /* Set svg to bold */
    stroke-width: 1%;
    stroke: var(--menu-item-active-color);
  }

  /* Set icon size */
  & svg {
    width: 24px;
    height: 24px;
  }
}
