.menu-bar {
  background-color: var(--menu-bar-bg-color);
  box-shadow: 0 0 5px 1px lightgray;
  border-bottom: 6px solid var(--menu-bar-bd-color);
  border-radius: 0 0 7px 7px;
  height: var(--menu-bar-height);

  /* Mobile */
  @media (width <= 768px) {
      /* Show in bottom */
      bottom: 0;
      position: fixed;
      width: 100%;
  }

  display: flex; /* Display contents inline */
  justify-content: space-between;
  align-items: center; /* Vertical align to center */
  padding: 0 15px;
  gap: var(--menu-bar-items-gap);

  & li {
    list-style: none;
  }

  .menu-bar__shortcuts-container {
    overflow: auto;
  }

  .menu-bar__shortcuts {
    display: flex;
    justify-content: space-between;
    gap: var(--menu-bar-items-gap);
  }
}
