<nav class="collapsible-menu">
  <ul class="collapsible-menu__header">
      <li class="collapsible-menu__logo">
        <div>Logo</div>
      </li>
      <li class="collapsible-menu__settings">
        <ul>
          <li>Tema</li>
          <li>Mi Perfil</li>
          <li>Cerrar Sesi贸n</li>
        </ul>
      </li>
  </ul>

    <ul class="collapsible-menu__items">
      <li>Dep贸sito 1</li>
      <li>Dep贸sito 2</li>
      <li>Dep贸sito2</li>
    </ul>
  </ul>
</nav>
