<div class="collapsible-menu">
  <div class="collapsible-menu__header">
    <div class="collapsible-menu__logo">
      <div>Logo</div>
    </div>
    <div class="collapsible-menu__settings">
      <div>Tema</div>
      <div>Mi Perfil</div>
      <div>Cerrar Sesi贸n</div>
    </div>
  </div>

  <div class="collapsible-menu__items">
    <div>Dep贸sito 1</div>
    <div>Dep贸sito 2</div>
    <div>Dep贸sito2</div>
  </div>
</div>
