<div class="collapsible-menu">
  <input type="checkbox" id="<%= @id %>" class="collapsible-menu__checkbox">

  <!-- Don't use menu-item component because link_to interfere whith checkbox check when click label -->
  <label class="menu-item" for="<%= @id %>">
    <% if @icon %>
      <%= icon_tag(@icon, "icon") %>
    <% end %>

    <span class="prevent-select"><%= @text %></span>
  </label>

  <!-- en horizontal en mobile esta mostrando espacio extra en vertical a veces tambien hay scroll del body-->
  <nav>
  <!--
    <ul class="collapsible-menu__header">
      <li class="collapsible-menu__logo">
        <div>Logo</div>
      </li>
      <li class="collapsible-menu__settings">
        <ul>
          <li>Tema</li>
          <li>Mi Perfil</li>
          <li>Cerrar Sesi贸n</li>
        </ul>
      </li>
    </ul>

    <ul class="collapsible-menu__items">
      <li>Dep贸sito 1</li>
      <li>Dep贸sito 2</li>
      <li>Dep贸sito2</li>
    </ul>
    </ul>
    -->
    <ul class='sub-menu'>
      <li>Web Design</li>
      <li>Web Development</li>
      <li>Illustrations</li>
    </ul>
  </nav>
</div>

