<nav>
  <ul class="menu-bar">
    <li>
      <%= home if home? %>
    </li>

    <li class="menu-bar__shortcuts-container">
      <ul class="menu-bar__shortcuts">
        <% if shortcuts.any? %>
          <% shortcuts.each do |shortcut| %>
            <li>
              <%= shortcut %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <li>
      <%= menu if menu? %>
    </li>
  </ul>
</nav>
