<nav class="menu-bar" data-controller="menu">
  <ul>
    <li>
      <%= home if home? %>
    </li>

    <li class="menu-bar__shortcuts" data-action="mousewheel->menu#runMouseWheelHorizontalScrolling">
      <ul>
        <% if shortcuts.any? %>
          <% shortcuts.each do |shortcut| %>
            <li>
              <%= shortcut %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </li>

    <li>
      <%= main_menu if main_menu? %>
    </li>
  </ul>
</nav>
