<%= link @url, class: block_modifier_classes, data: @data do %>
  <% if @icon %>
    <span><%= icon_tag(@icon, "#{block_class}__icon") %></span>
  <% end %>
  <span class="<%= block_class %>__text u-prevent-select" data-action="mousewheel->menu#runMenuItemTextMouseWheelHorizontalScrolling"><%= @text %></span>
<% end %>
