<div class="menu-bar">
  <div class="menu-bar__shortcuts">
    <% if shortcuts.any? %>
      <% shortcuts.each do |shortcut| %>
        <%= shortcut %>
      <% end %>
    <% end %>
  </div>

  <div class="menu-bar__menu">
    <%= menu if menu? %>
  </div>
</div>
