<!-- Set data-turbo-stream attr in link because turbo is not enable for get requests by default -->
<%= link_to @url, class: menu_item_class, data: { action: "click->menu#activateMenuItem", turbo: @turbo, turbo_stream: "" } do %>
  <% if @icon %>
    <%= icon_tag(@icon, "icon") %>
  <% end %>

  <span><%= @text %></span>
<% end %>
