.e-link {
  font-size: var(--e-link-text-sz);
  display: flex;
  gap: 0.5rem;

  /* Remove link defaults */
  text-decoration: none;
  color: var(--e-link-color);

  & svg {
    width: 1rem;
    height: 1rem;
  }

  &:hover {
    color: color-mix(in srgb, black 10%, var(--e-link-color));
  }

  &[class~="e-link--primary"] {
    color: var(--e-link-primary-color);

    &:hover {
      color: color-mix(in srgb, black 20%, var(--e-link-primary-color));
    }
  }

  &[class~="e-link--danger"] {
    color: var(--e-link-danger-color);

    &:hover {
      color: color-mix(in srgb, black 20%, var(--e-link-danger-color));
    }
  }
}
