.e-table {
  border-collapse: collapse; /* Remove blank spaces in borders */
  color: var(--e-table-color);

  & th, td {
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
  }

  & th {
    border-color: #aeb1b7;
    border-bottom-width: 2px;
  }

  & tbody > tr:hover {
    background-color: color-mix(in srgb, var(--primary-color), transparent 90%);
  }

  /* From: https://www.wextensible.com/como-se-hace/sticky-css/ */
  &[class~="e-table--sticky-head"] {
    /* Remove blank spaces in borders. Alternative is  border-collapse: collapse but the border lost when use sticky*/
    border-collapse: separate;
    border-spacing: 0px;

    & th {
      position: sticky;
      top: 0;
      background-color: var(--bg-secondary-color);
    }
  }
}
