.e-table {
  border-collapse: collapse; /* Remove blank spaces in borders */
  color: var(--e-table-color);

  & th, td {
    border-bottom: 1px solid #eee;
    padding: 0.5rem;
  }

  & th {
    border-color: #aeb1b7;
    border-bottom-width: 2px;
  }

  & tr:hover {
    background-color: rgba(var(--primary-color-rgb), 0.07);
  }
}
