body {
  background-color: var(--bg-secondary-color);
  color: var(--fg-color);
}

#main-container {
  /* Mobile */
  @media (width <= 48rem) {
    /* Don't hide main-content below menu-bar */
    margin-bottom: 5rem;
  }
}

/* From: https://elad.medium.com/css-position-sticky-how-it-really-works-54cd01dc2d46 */
#main-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
