body {
  background-color: var(--bg-secondary-color);
  color: var(--fg-color);
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

#main {
  height: 100dvh;
  overflow: auto;

  /* Mobile */
  @media (width <= 48rem) {
    /* Don't hide main below menu-bar */
    padding-bottom: var(--c-menu-bar-approximate-height-sz);
  }
}

#header {
  z-index: 1; /* header over table header */

  /* Mobile */
  @media (width <= 48rem) {
    border-top: 0.3rem solid var(--c-menu-bar-bd-color);
    border-radius: 0.5rem 0.5rem 0 0;
  }
}

.header {
  display: grid;
  grid-template-areas:  "breadcrumb add"
                        "title add";

  box-shadow: var(--header-box-shadow);
  border-bottom: 1px solid var(--header-shadow-color);
  padding-bottom: 10px;
  background-color: var(--bg-primary-color);

  .header__breadcrumb {
    grid-area: breadcrumb;
  }

  .header__title {
    grid-area: title;
    font-size: var(--header-title-sz);
  }

  .header__add {
    grid-area: add;
    display: flex;
    justify-content: end;
    align-items: center;
  }
}
