body {
  background-color: var(--bg-secondary-color);
  color: var(--fg-color);
}

/* #main-content use rest of space and show scroll
** From: https://es.stackoverflow.com/questions/150822/div-que-ocupe-todo-el-alto-de-la-pantalla-restante
*/
html, body, main {
  height:100dvh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#main-content{
  flex: 1;
  overflow: auto;

  /* Mobile */
  @media (width <= 48rem) {
    /* Don't hide main-content below menu-bar */
    padding-bottom: 4rem;
  }
}
