/* From: https://codepen.io/avstorm/pen/ZorYLO */
.c-theme-switcher {
  .c-theme-switcher__switch {
    position: relative;
    display: block;
    width: 2.5rem;
    height: 1.25rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);

    &:before {
      content: "";
      position: relative;
      top: 3px;
      left: 3px;
      width: 34px;
      height: 14px;
      display: block;
      background-color: var(--c-theme-switcher-uncheck-slide-color); /* Uncheck switch slide color */
      border-radius: 8px;
      transition: background-color 0.2s ease;
    }

    & span {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background-color: var(--c-theme-switcher-uncheck-switch-color);
      border-radius: 10px;
      box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
      transition: all 0.2s ease;

      &:before {
        content: "";
        position: absolute;
        display: block;
        margin: -18px;
        width: 56px;
        height: 56px;
        background-color: rgba(46, 127, 220, 0.5);
        border-radius: 50%;
        transform: scale(0);
        opacity: 1;
        pointer-events: none;
      }
      /* light mode button */
      & > :first-child {
        color: var(--c-theme-switcher-light-mode-btn-color);
      }

      /* dark mode button */
      & > :last-child {
        display: none;
        color: var(--c-theme-switcher-dark-mode-btn-color);
      }
    }
  }
}

.c-theme-switcher {
  .c-theme-switcher__checkbox {
    display: none;

    /* Switch state to on when check */
    &:checked + .c-theme-switcher__switch span {
      background-color: var(--c-theme-switcher-check-switch-color);
      transform: translateX(20px);
      transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background-color 0.15s ease;
      box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);

      /* Light mode button */
      & > :first-child {
        display: none;
      }

      /* Dark mode button */
      & > :last-child {
        display: flex;
      }
    }

    /* Change switch background when check */
    &:checked + .c-theme-switcher__switch:before {
      background-color: var(--c-theme-switcher-check-slide-color); /* Check switch slide color */
    }

    /* Check explotion effect */
    &:checked + .c-theme-switcher__switch span:before {
      transform: scale(1);
      opacity: 0;
      transition: all 0.4s ease;
    }
  }
}
