:root {
  --primary-color: #1f8ec2;
  --secondary-color: #186E96;
}

.menu-bar {
  --menu-bar-bg-color: #FFFFFF;
  --menu-bar-bd-color: var(--primary-color);
}

.menu-item {
  --menu-item-color: #616161;
  --menu-item-hover-color: var(--primary-color);
  --menu-item-active-color: var(--primary-color);
}

.collapsible-menu {
  --menu-collapsible-bg-color: rgba(76, 93, 101, 7%);
}
