:root {
  /* colors */
  --primary-color: #1f8ec2;
  --secondary-color: #186E96;
}

.menu-bar {
  --menu-bar-height: 60px;
  --menu-bar-items-gap: 20px;

  /* colors */
  --menu-bar-bg-color: #FFFFFF;
  --menu-bar-bd-color: var(--primary-color);
}

.menu-bar {
  --menu-item-color: #616161;
  --menu-item-active-color: var(--primary-color);
}
