/* Menu trigger */
.c-collapsible-menu {
  .c-collapsible-menu__checkbox {
    display: none;

    /* Show nav when click in checkbox label */
    &:checked ~ nav {
      visibility: visible;
      transition: all 0.7s ease-out;
      max-height: 100vw;

      /* Mobile */
      @media (width <= 48rem) {
        /* Align to top of parent element [https://codepen.io/ngaller/pen/GpzZXN] */
        bottom: 100%;
        transition: all 0.4s ease-out;
      }
    }

    /* Show close button and hide menu button when checkbox is checked */
    &:checked ~ .c-collapsible-menu__button {
      /* Menú button */
      & > :first-child {
        display: none;
      }
      /* Close button */
      & > :last-child {
        display: flex;
      }
    }
  }

  /* Close button hide by default */
  .c-collapsible-menu__button {
    /* Close button */
    & > :last-child {
      color: var(--o-menu-item-active-color);
      display: none;
    }
  }
}

/* Menu*/
.c-collapsible-menu {
  & nav {
    background-color: var(--c-collapsible-menu-bg-color);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 0.3rem 0.05rem var(--c-collapsible-menu-shadow-color);
    border: 1px solid var(--c-collapsible-menu-shadow-color);
    border-top: none;

    padding: 1rem;
    visibility: hidden;
    position: absolute;
    max-height: 0;
    max-width: 25rem;
    overflow: auto;

    margin-top: 0.7rem;

    /* Mobile */
    @media (width <= 48rem) {
      margin-top: 0;
      width: 100vw;
      max-width: 100vw;
    }
  }

  /* Unfolded menu position */
  /* Default position */
  & nav {
    left: initial;
    right: initial;

    /* Mobile */
    @media (width <= 48rem) {
      left: 0;
    }
  }

  /* Left position */
  &[class~="c-collapsible-menu--left"] {
    & nav {
      left: 0;
    }
  }

  /* Right position */
  &[class~="c-collapsible-menu--right"] {
    & nav {
      right: 0;
    }
  }
}
