.c-collapsible-menu {
  /* Default deployed menu */
  & nav {
    background-color: var(--c-collapsible-menu-bg-color);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 0.3rem 0.05rem var(--c-collapsible-menu-shadow-color);
    border: 1px solid var(--c-collapsible-menu-shadow-color);
    border-top: none;

    padding: 1rem;
    visibility: hidden;
    position: absolute;
    max-height: 0;
    max-width: 25rem;
    overflow: auto;

    margin-top: 0.5rem;
    z-index: 1; /* Show menu over sticky table header*/

    /* Mobile */
    @media (width <= 48rem) {
      margin-top: 0;
      width: 100dvw;
      max-width: 100dvw;
      /* Align to top of parent element [https://codepen.io/ngaller/pen/GpzZXN] */
      bottom: 100%;
    }
  }

  /* Close button hide by default */
  .c-collapsible-menu__button {
    /* Close button */
    & > :last-child {
      color: var(--o-menu-item-active-color);
      display: none;
    }
  }

  .c-collapsible-menu__checkbox {
    display: none;

    /* Show nav when click in checkbox label */
    &:checked ~ nav {
      visibility: visible;
      max-height: calc(100dvh - var(--c-menu-bar-approximate-height-sz));

      transition: max-height 0.4s ease-out;
      animation: hide-scroll 0.4s backwards;
    }

    /* Show close button and hide menu button when checkbox is checked */
    &:checked ~ .c-collapsible-menu__button {
      /* Menú button */
      & > :first-child {
        display: none;
      }
      /* Close button */
      & > :last-child {
        display: flex;
      }
    }
  }
}

/* From: https://css-tricks.com/hide-scrollbars-during-an-animation/*/
@keyframes hide-scroll {
  from, to { overflow: hidden; }
}

/* Menu*/
.c-collapsible-menu {
  /* Unfolded menu position */
  /* Default position */
  & nav {
    left: initial;
    right: initial;

    /* Mobile */
    @media (width <= 48rem) {
      left: 0;
    }
  }

  /* Left position */
  &[class~="c-collapsible-menu--left"] {
    & nav {
      left: 0;
    }
  }

  /* Right position */
  &[class~="c-collapsible-menu--right"] {
    & nav {
      right: 0;
    }
  }
}
