.c-main-content-header {
  background-color: var(--bg-primary-color);
  display: flex;
  flex-direction: column;

  /* Mobile */
  @media (width <= 48rem) {
    border-top: 0.3rem solid var(--c-menu-bar-bd-color);
    border-radius: 0.5rem 0.5rem 0 0;
  }

  .c-main-content__header-1 {
    box-shadow: var(--c-main-content-header-1-box-shadow);
    border-bottom: 1px solid var(--c-main-content-header-1-shadow-color);
    padding-bottom: 10px;
  }

  .c-main-content__header-2 {
    background-color: color-mix(in srgb, var(--primary-color), transparent 95%);
    padding: 0.8rem 0;
  }

  .c-main-content__subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & .c-main-content__title {
      font-size: var(--c-main-content-title-sz);
    }
  }

  .c-main-content__searcher {
    display: flex;
    gap: 0.3rem;
    justify-content: center;
  }
}

.c-main-content {
  border-top: 1px solid var(--c-main-content-body-bd-color);
}
