.c-menu-bar {
  background-color: var(--c-menu-bar-bg-color);
  box-shadow: 0 0 0.3rem 0.05rem lightgray;
  border-bottom: 0.3rem solid var(--c-menu-bar-bd-color);
  border-radius: 0 0 0.4rem 0.4rem;

  /* Mobile */
  @media (width <= 48rem) {
      /* Show in bottom */
      bottom: 0;
      position: fixed;
      width: 100%;
  }
}

.c-menu-bar > ul {
  display: flex; /* Display contents inline */
  justify-content: space-between;
  align-items: center; /* Vertical align to center */
  padding: 0.2rem 0.9rem;
  gap: var(--c-menu-bar-items-gap-sz);

  & li {
    list-style: none;
  }

  .c-menu-bar__shortcuts {
    overflow: auto; /* Show scrollbar if is necessary */

    & ul {
      display: flex;
      justify-content: space-between;
      gap: var(--c-menu-bar-items-gap-sz);
    }
  }
}
