<div class="header u-container">
  <div class="header__breadcrumb">
    <%= render Breadcrumb::BreadcrumbComponent.new do |breadcrumb| %>
      <% breadcrumb.with_items([
        { icon: "justify" },
        { text: t("layouts.components.sidebar.stock") },
        { text: t("activerecord.models.product_brand.other"), active: true }
      ]) %>
    <% end %>
  </div>

  <div class="header__title">
    <h1><%= t("activerecord.models.product_brand.other") %></h1>
  </div>

  <div class="header__add">
    <button class="e-btn e-btn--primary">
      Nueva Marca
    </button>
  </div>
</div>