<div class="c-main-content__header c-main-content__header--primary">
  <div>
    <%= render Breadcrumb::BreadcrumbComponent.new do |menu_bar| %>
          <% menu_bar.with_items([
            { icon: "justify" },
            { text: t("layouts.components.sidebar.stock") },
            { text: t("activerecord.models.product_brand.other"), active: true }
          ]) %>
        <% end %>
  </div>

  <div class="c-main-content__subheader">
    <h1 class="c-main-content__title"><%= t("activerecord.models.product_brand.other") %></h1>
    <button class="e-btn e-btn--primary"><%= t("layouts.components.buttons.new_f", model: t("activerecord.models.product_brand.one"))%></button>
  </div>
</div>

<div class="c-main-content__header c-main-content__header--secondary">
  <div class="c-main-content__searcher">

  </div>
</div>
