<div class="c-main-content__body">
  <div class="u-table-container">
    <table class="e-table">
      <thead>
        <tr>
          <th class="u-left"><%= t("activerecord.attributes.product_brand.name") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% product_brands.each do |product_brand| %>
          <tr>
            <td><%= product_brand.name %></td>
            <td class="u-right">
              <%#= link_to edit_product_brand_path(product_brand), class: "link link-primary", data: { turbo: false } do %>
                <%= icon_tag("pencil-square") %>
              <%# end %>
              <%#= link_to edit_product_brand_path(product_brand), class: "link link-primary", data: { turbo: false } do %>
                <%= icon_tag("trash") %>
              <%# end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
