<h1>Editing product brand</h1>

<%= render "form", product_brand: @product_brand %>

<br>

<div>
  <%= link_to "Show this product brand", @product_brand %> |
  <%= link_to "Back to product brands", product_brands_path %>
</div>
