<p style="color: green"><%= notice %></p>

<h1>Product brands</h1>

<div id="product_brands">
  <% @product_brands.each do |product_brand| %>
    <%= render product_brand %>
    <p>
      <%= link_to "Show this product brand", product_brand %>
    </p>
  <% end %>
</div>

<%= link_to "New product brand", new_product_brand_path %>
