/* Reset browser defaults */
/* Include border and padding in boxes [https://css-tricks.com/box-sizing/] */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Remove margin and padding from elements */
body, ul {
  margin: 0;
  padding: 0;
}
