<div class="sidebar-menu">
  <ul class="menu">
    <li class="sidebar-title"><%= t(".stock") %></li>

    <%= render Sidebar::MenuComponent.new(icon: "boxes", text: t(".warehouses")) do |menu| %>
      <% menu.with_submenus([
        { text: "Depósito 1" },
        { text: "Depósito 2" },
      ]) %>
    <% end %>

    <%= render Sidebar::MenuComponent.new(icon: "gear", text: t(".settings"), active: active_path?(stock_settings_paths)) do |menu| %>
      <% menu.with_submenus([
        { text: t(".warehouses") },
        { text: t(".products") },
        { text: t("activerecord.models.product_brand.other"), url: product_brands_path }
      ]) %>
    <% end %>

  </ul>
</div>
