<div class="sidebar-menu">
  <ul class="menu">
    <li class="sidebar-title">Productos</li>
    <li class="sidebar-item">
      <a href="#" data-turbo="false" class="sidebar-link">
        <i class="bi bi-boxes"></i>
        <span>Stock</span>
      </a>
    </li>
    <li class="sidebar-item has-sub">
      <a href="#" data-turbo="false" class="sidebar-link">
        <i class="bi bi-arrow-left-right"></i>
        <span>Movimientos</span>
      </a>
      <ul class="submenu">
        <li class="submenu-item  ">
          <a href="#" data-turbo="false" class="submenu-link">
            <i class="bi bi-box-arrow-in-down-right"></i>
            <span>Ingresos</span>
          </a>
        </li>
        <li class="submenu-item">
          <a href="#" data-turbo="false" class="submenu-link">
            <i class="bi bi-box-arrow-down-right"></i>
            <span>Egresos</span>
          </a>
        </li>
      </ul>
    </li>
    <li class="sidebar-title">Configuración</li>
    <li class="sidebar-item">
      <a href="#" data-turbo="false" class="sidebar-link">
        <i class="bi bi-people"></i>
        <span>Usuarios</span>
      </a>
    </li>
  </ul>
</div>
