<div class="c-theme-switcher">
  <input type="checkbox" id="theme-switch" class="c-theme-switcher__checkbox"/>
  <label for="theme-switch" class="c-theme-switcher__switch">
    <span>
      <%= icon_tag("sun-fill") %>
      <%= icon_tag("moon-fill") %>
    </span>
  </label>
</div>
