<div class="sidebar-header position-relative">
  <div class="d-flex justify-content-between align-items-center">
    <!-- LOGO -->
    <div class="logo">
      <%= logo_tag %>
    </div>

    <%= render "layouts/theme_switcher" %>

    <div class="sidebar-toggler x">
      <a class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
    </div>
  </div>
</div>
